@import './constants/variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body,
#root,
.main-content {
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.main-content {
  background-color: var(--contrast-color);
}


.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 60px;
  background: linear-gradient(135deg, #f5f7fa 0%, #e4e8ec 100%);
  min-height: calc(100vh - 64px);
}
